html, body, #map {
            height: 100%;
            width: 100%;
            overflow: hidden;
}
body {
    padding-top: 50px;
}
label {
    font-weight: normal;
    margin-bottom: 0px;
}
input[type="radio"], input[type="checkbox"] {
    margin: 0;
}
#loading {
    position: absolute;
    width: 220px;
    height: 19px;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -110px;
    z-index: 20001;
}
.navbar .navbar-brand {
    font-weight: bold;
    font-size: 25px;
    color: white;
}
.navbar {
    opacity: 1;
}
.navbar-collapse.in {
    overflow-y: hidden;
}
.tt-dropdown-menu {
    overflow: auto;
}
.tt-hint, .tt-query {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
}
.typeahead-header {
    margin: 0 5px 5px 5px;
    padding: 3px 0;
    border-bottom: 1px solid #ccc;
}
.search-container {
    width: 250px;
}
#searchbox {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.leaflet-control-layers-base input, .leaflet-control-layers-overlays input {
    float: left;
    margin-right: 6px;
}
.leaflet-control-layers-expanded {
    opacity: 0.9;
}
.leaflet-popup-content {
    margin-top: 14px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
}
@media (max-width: 992px) {
    .navbar .navbar-brand {
        font-size: 18px;
        float: left;
    }
    .search-container {
        width: 150px;
    }
    .leaflet-control-attribution {
        display: none;
    }
}
@media (max-width: 768px){
    .search-container {
        width: 100%;
    }
}
/* Print Handling */
@media print {
    .navbar {
        display: none !important;
    }
    .leaflet-control-container {
        display: none !important;
    }
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/*Add a source*/
a.add-source {
  /*display: none;*/
  float: left;
  position: fixed;
  right: auto;
  bottom: 20px;
  left: 10px;
  z-index: 1001;
  background-color: #000;
  color: #999;
  padding: 0.05em 0.4em 0.2em 0.4em;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px -1px 0 #06A;
     -moz-box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
  -webkit-box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
          box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
}
a.add-source:hover {
  color: #fff;
}
a.add-source span {
  display: none;
}
a.add-source:before {
  content: "+";
}


@media only screen and (min-width: 480px) and (orientation: portrait) {
  a.add-source {
    padding: 0.6em 1em;
    font-size: 2.5em;
    bottom: 0.75em;
    left: 0.75em;
  }
  a.add-source span {
    font-size: 1em;
    display: inline;
  }
  a.add-source:before {
    content: "";
  }
}

@media only screen and (min-width: 768px) { /* menu is visible */
  a.add-source {
    padding: 0.4em .2em;
    font-size: 2em;
    bottom: 1.5em;
    left: 1em;
  }
  a.add-source span {
    font-size: 1em;
    display: inline;
  }
  a.add-source:before {
    content: "";
  }
}

@media only screen and (min-width: 1300px) {
  a.add-source {
    font-size: 2.75em;
  }
}