html, body, #map {
            height: 100%;
            width: 100%;
            overflow: hidden;
}
body {
    padding-top: 50px;
}
label {
    font-weight: normal;
    margin-bottom: 0px;
}
input[type="radio"], input[type="checkbox"] {
    margin: 0;
}
#loading {
    position: absolute;
    width: 220px;
    height: 19px;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -110px;
    z-index: 20001;
}
.navbar .navbar-brand {
    font-weight: bold;
    font-size: 25px;
    color: white;
}
.navbar {
    opacity: 1;
}
.navbar-collapse.in {
    overflow-y: hidden;
}
.tt-dropdown-menu {
    overflow: auto;
}
.tt-hint, .tt-query {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
}
.typeahead-header {
    margin: 0 5px 5px 5px;
    padding: 3px 0;
    border-bottom: 1px solid #ccc;
}
.search-container {
    width: 250px;
}
#searchbox {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.leaflet-control-layers-base input, .leaflet-control-layers-overlays input {
    float: left;
    margin-right: 6px;
}
.leaflet-control-layers-expanded {
    opacity: 0.9;
}
.leaflet-popup-content {
    margin-top: 14px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
}
@media (max-width: 992px) {
    .navbar .navbar-brand {
        font-size: 18px;
        float: left;
    }
    .search-container {
        width: 150px;
    }
    .leaflet-control-attribution {
        display: none;
    }
}
@media (max-width: 768px){
    .search-container {
        width: 100%;
    }
}
/* Print Handling */
@media print {
    .navbar {
        display: none !important;
    }
    .leaflet-control-container {
        display: none !important;
    }
}

/*Centerpoint*/


/* Center Point: crosshairs and new point icon */
#centerpoint {
  display: none;
  width: 65px;
  height: 65px;
  background: transparent url(images/crosshair.png) 0 0 no-repeat scroll;
  overflow: visible;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -32px 0 0 -32px;
  pointer-events: none;
  z-index: 11;
  opacity: 0.6;
  -webkit-transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
  -ms-transition: opacity 0.25s;
  transition: opacity 0.25s;
}
a.add-place:hover + #centerpoint,
#centerpoint.dragging {
  opacity: 1;
}
#centerpoint.newpin {
  width: 47px;
  height: 47px;
  background: transparent;
  left: 30%;
  margin: -44px 0 0 -12px;
  opacity: 1;
}
#centerpoint.newpin .x {
  display: block;
  position: absolute;
  width: 18px;
  height: 12px;
  background: transparent url(images/marker-x.png) 0 0 no-repeat scroll;
  left: 4px;
  top: 37px;
  opacity: 0;
  -webkit-transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
  -ms-transition: opacity 0.25s;
  transition: opacity 0.25s;
}
#centerpoint.newpin:hover .x,
#centerpoint.newpin.dragging .x {
  opacity: 1;
}
#centerpoint.newpin .shadow {
  display: block;
  height: 47px;
  width: 47px;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent url(images/marker-shadow.png) 0 3px no-repeat scroll;
  -webkit-transition: opacity 0s, background-position 0.3s ease;
  -moz-transition: opacity 0s, background-position 0.3s ease;
  -o-transition: opacity 0s, background-position 0.3s ease;
  -ms-transition: opacity 0s, background-position 0.3s ease;
  transition: opacity 0s, background-position 0.3s ease;
}
#centerpoint.newpin:hover .shadow,
#centerpoint.newpin.dragging .shadow {
  opacity: 0.2;
  background-image:
    url(images/marker-shadow.png),
    url(images/marker-shadow.png),
    url(images/marker-shadow.png),
    url(images/marker-shadow.png),
    url(images/marker-shadow.png),
    url(images/marker-shadow.png),
    url(images/marker-shadow.png),
    url(images/marker-shadow.png),
    url(images/marker-shadow.png)
    ;
  background-position:
    0px -3px,
    3px -3px,
    6px -3px,
    0px -6px,
    3px -6px,
    6px -6px,
    0px -9px,
    3px -9px,
    6px -9px
  ;
}
#centerpoint.newpin .marker {
  display: block;
  width: 25px;
  height: 41px;
  background: transparent url(images/marker-plus.png) 0 0 no-repeat scroll;
  position: relative;
  top: 3px;
  -webkit-transition: top 0.4s ease;
  -moz-transition: top 0.4s ease;
  -o-transition: top 0.4s ease;
  -ms-transition: top 0.4s ease;
  transition: top 0.4s ease;
}
#centerpoint.newpin:hover .marker,
#centerpoint.newpin.dragging .marker {
  top: -20px;
}