{% extends "base.html" %}

{% block title %}
<title> FoodMapper | About </title>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-8">
		<h2>About FoodMapper</h2>
			<p>The goal of this application is to support community data collection in order to better understand the broader problem of food and health insecurity in Atlanta neighborhoods. We drew inspiration from various mapping projects such as Shareabouts, gatires.org, and the work of our primary faculty sponsor Carl DiSalvo.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8">
		<h4>About Computing For Good</h4>
			<p>Computing for Good is the title of a senior level undergraduate and graduate level colisted course in participatory design, user-centered design, and rapid application development. This application is a project from the Fall 2013 academic semester.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8">
		<h4>Development Goals and Future Features</h4>
			<p>We're planning many features and need help prioritizing the most important ones. Let us know what capabilities you want for yourself or your organization.</p>
			<ul>
				<li>
					Add resources to maps based on street addresses.
				</li>
				<li>
					Import and export assembled data.
				</li>
				<li>
					Custom categories, dates, and time availability for resources.
				</li>
				<li>
					User Profiles. Organization profiles. Map description pages.
				</li>
				<li>
					Search and Visualizations.
				</li>
				<li>
					Improved tagging, checkins, and user histories.
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}