{% extends "base.html" %}

{% block title %}
<title> Food Mapper | Add a Map </title>
{% endblock %}

{% block content %}
<div class="container">
	<form class="" action="/api/maps/" method="POST">
	<fieldset>
		{% csrf_token %}
		<input class="hidden" name="next" value="/maps/"/>
		<div class="control-group">
			<label for="id_name" class="control-label">New Map Name</label>
			<div class="controls">
				<input id="id_name" name="name" type="text">
			</div>
		</div>
		<div class="control-group">
			<label for="id_description" class="control-label">New Map Description</label>
			<div class="controls">
				<input id="id_description" name="description" type="text">
			</div>
		</div>
		<div class="form-actions">
			<button class="btn btn-primary" title="submit new map to API">POST</button>
		</div>
	</fieldset>
	</form>
</div>
{% endblock %}