{% extends "base.html" %}

{% block title %}
<title> Food Mapper | Add a Map </title>
{% endblock %}

{% block content %}
<div class="container">
	<h2>Add a new map</h2>
	<form class=" col-md-4" action="/maps/add" method="POST">
		{% csrf_token %}
		<div class="form-group">
			<label for="id_name">New map name</label>
			<input class="form-control" id="id_name" name="name" type="text" placeholder="e.g. Community Group Name">
		</div>
		<div class="form-group">
			<label for="id_description">Describe the map</label>
			<textarea class="form-control" id="id_description" name="description" rows="3" placeholder="This map shows food resources in x community"></textarea>
		</div>
		<input type="hidden" name="next" value="hello" />
		<input type="Submit" class="btn btn-primary" value="Add map">
	</form>
</div>
{% endblock %}