{% extends "base.html" %}

{% block title %}
<title> FoodMapper | Contact </title>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-8">
		<h1>Contact FoodMappers</h1>
			<p>We're a team of graduate students in Computer Science and HCI at <a href="http://www.gatech.edu/" target="_blank">Georgia Tech</a>.</p>
		<h4>Outreach Coordinator</h4>
			<p><a href="mailto:andy.pruett@gatech.edu?subject=[FoodMapper Contact Via Site]" target="_blank">Andy Pruett</a></p>
		<h4>Dev Team Mailing List</h4>
			<p><a href="mailto:c4g_food_mappers@googlegroups.com?subject=[FoodMapper Contact Via Site]" target="_blank">C4G FoodMappers Group</a></p>
		<h4>Feedback Form on Google Docs</h4>
			<p><a class='feedback-link' href='' target="_blank">Submit Feedback</a></p>
		</div>
	</div>
</div>
{% endblock %}
