{% extends "base.html" %}

{% block title %}
<title> FoodMapper | Maps </title>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-8">
		<h1>FoodMapper Maps</h1>
			<p>To use FoodMapper, you create <em>maps</em> then place points on them to describe and geographically chart the <em>food resources</em> in your community. Maps can be as small or as large as you want. They should have good <em>names</em> and <em>descriptions</em> so that other users can find them and contribute to them.</p>
		</div>
		<div class="col-sm-4">
			<!-- TODO: The following line is stupid -->
			<br><br><br>
			{% if user.is_authenticated %}
				<a id="add-map" class="col-sm-6 btn-lg btn btn-primary pull-right" data-toggle="modal" href="#add-map-modal">Add a Map</a>
			{% endif %}
			{% if user.is_anonymous %}
				<a class="col-sm-6 btn btn-lg btn-primary pull-right" href='/login/?next=/maps'>Login first</a>
			{% endif %}
		</div>
		</div>
	<hr>
	<div id="map-tiles" class="row">
	{% for map in maps %}
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<a href="/map/{{map.namespace}}"><h3>{{map.name}}</h3></a>
				</div>
				<div class="panel-body">
					{{map.description}}
				</div>
			</div>
		</div>
	{% endfor %}
	</div>
</div>

{% include "addMap.html" %}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{STATIC_URL}}bower_components/parsleyjs/dist/parsley-standalone.min.js"></script>
<script>

// Sets up AJAX requests to use CSRF Token
$(function() {
	$.ajaxSetup({
		headers: {
			"X-CSRFToken": getCookie("csrftoken")
		}
	});
});

function addMap(){
	if ($('#addMap-form').parsley('validate')) {
		$('#add-map-modal').modal('hide')
		var map_name = $('#mapName').val();
		var map_description = $('#mapDescription').val();
		$('#mapName').val('');
		$('#mapDescription').val('');
		$.post('/api/maps/',{
			name: map_name,
			description: map_description,
		}, function(data, success) { 
				if ( success === "success") {
					// console.log("done: " + success); 
					// console.log(data);
					$('#map-tiles').prepend( makeMapTile(data) );
				}
				else {
					console.log("failed: "+data);
				}
		});
	}
}

function makeMapTile(data) {
	var html = '';
	html += '<div class="col-lg-4">'
	html +=	'<div class="panel panel-warning">'
	html +=	'<div class="panel-heading">'
	html += 	'<a href="/map/' + data.namespace + '"><h3>'+ data.name + '</h3></a></div>'
	html += '<div class="panel-body">' + data.description + '</div></div>';
	console.log(html);
	return html;
}

function getCookie(name) {
	var cookieValue = null;
	if (document.cookie && document.cookie != '') {
		var cookies = document.cookie.split(';');
		for (var i = 0; i < cookies.length; i++) {
			var cookie = jQuery.trim(cookies[i]);
			// Does this cookie string begin with the name we want?
			if (cookie.substring(0, name.length + 1) == (name + '=')) {
				cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
				break;
			}
		}
	}
	return cookieValue;
}

</script>
{% endblock %}
