{% extends "base.html" %}

{% block title %}
<title> Food Mapper | Maps </title>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
	<h1>Food Mapper Maps</h1>
	</div>
	<div class="row">
	{% for map in maps %}
		<div class="col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<a href="/map/{{map.namespace}}"><h3>{{map.name}}</h3></a>
				</div>
				<div class="panel-body">
					{{map.description}}
				</div>
			</div>
		</div>
	{% endfor %}
	</div>
	<div class="row">
		<div class="col-lg-4">
			{% if user.is_authenticated %}
			<h2>Add a Map</h2>
			<p>A map is a logical grouping for collecting geographic items.</p>
			<a href="/maps/add" class="btn btn-lg btn-primary">Add a Map</a>
			{% endif %}
			{% if user.is_anonymous %}
			<h2>Login to add your own map</h2>
			<a href="/login/?next=/maps/add" class="btn btn-lg btn-primary">Login</a>
			{% endif %}
		</div>
	</div>

</div>

{% endblock %}

{% block scripts %}
{% endblock %}
