{% extends "base.html" %}

{% block title %}
<title> FoodMapper</title>
{% endblock %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>Food Mapper</h1>
 		<p>An Open and Accessible Platform for Documenting the Issues and Opportunities of the Local Food System</p>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<h3>Use the crowd to map a local food system</h3>
			<p>Find a <a href="/maps">map</a> belongs to your community, or <a href="/maps">create one</a>!</p>
			<img src="../static/css/images/maps.png" width="480" height="220"  class="img-responsive" alt="Responsive image">	
		</div>
		<div class="col-sm-6">
			<h3>Add your input!</h3>
			<p>Within each map, add food resources and comment on them to build out your food system</p>
			<img src="../static/css/images/addpoint.png" width="480" height="220"  class="img-responsive" alt="Responsive image">
		</div>
	</div>
</div>
<hr>
<div class="container">
	<div class="row">
		<!-- <h2 class="heading">How to get access to FoodMapper</h2> -->
		<div class="col-sm-6">
			<h2>On Personal Computer</h2>
			<p>Manage your maps and food sources conveniently.</p>
			<img src="../static/css/images/productshot2.png" width="480"  class="img-responsive" alt="Responsive image">
		</div>
		<div class="col-sm-6">
			<h2>On Mobile Devices</h2> <!--Dynamic Front page content?-->
			<p>Add / View food resources everywhere!</p>
			<img src="../static/css/images/productshot.png" width="480"  class="img-responsive" alt="Responsive image">
		</div>
	</div>
	<hr>
	<div class="footer">
		<p>© C4G FoodMappers 2013</p>
	</div>
</div> <!-- container -->

{% endblock %}

{% block scripts %}
{% endblock %}