{% extends "base.html" %}

{% block title %}
<title> Food Mapper</title>
{% endblock %}

{% block content %}
<div class="container">
	<div class="hero-unit" style='border:1px solid gray'>
		<h1>Welcome to FoodMaps ('hero' style)</h1>
		<p>A student project in Computing For Good, Fall 2013 at Georgia Tech.</p>
		<p>FoodMaps is tool for gathering and mapping food resources for communities.</p>
	</div> <!-- hero -->
	<hr>
	<div class="row">
		<h1>Explanation of Intended App Use</h1>
		<p>In this section, we have some short sentences to explain how to use FoodMaps, the contents of the app, etc.
		</p>
	</div>
	<hr>
	<div class="row">
		<h1>Dynamic Front page content</h1>
		<p>In this section, we show a tile layout of recent map activity. Thumbnails by recency/frequency of map.
		</p>
	</div>
	<hr>
</div> <!-- container -->
{% endblock %}

{% block scripts %}
{% endblock %}