{% extends "base.html" %}

{% block title %}
<title> FoodMapper</title>
{% endblock %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>Food Mapper</h1>
 		<p>An Open and Accessible Platform for Documenting the Issues and Opportunities of the Local Food System</p>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<h3>Gather Data Together</h3>
			<p>Browse existing <a href="/maps">maps</a> of your community, or <a href="/maps">create your own</a> to begin a mapping your local food system. </p>
			<img src="../static/css/images/maps.png" width="480" height="220"  class="img-responsive" alt="Responsive image">	
		</div>
		<div class="col-sm-6">
			<h3>Collaborate and Connect the Dots</h3>
			<p>Join the crowdsourcing effort. Within each map, add food resources and comment on them to collect a realistic geographic description of your food system.</p>
			<img src="../static/css/images/addpoint.png" width="480" height="220"  class="img-responsive" alt="Responsive image">
		</div>
	</div>
</div>
<hr>
<div class="container">
	<div class="row">
		<!-- <h2 class="heading">How to get access to FoodMapper</h2> -->
		<div class="col-sm-6">
			<h3>Laptops and Desktops</h3>
			<p>Manage your maps and add or export data quickly and easily</p>
			<img src="../static/css/images/productshot2.png" width="480"  class="img-responsive" alt="Responsive image">
		</div>
		<div class="col-sm-6">
			<h3>Smartphones and Tablets</h3> <!--Dynamic Front page content?-->
			<p>Add and view FoodMapper wherever you are</p>
			<img src="../static/css/images/productshot.png" width="480"  class="img-responsive" alt="Responsive image">
		</div>
	</div>
	<hr>
	<div class="footer">
		<p>© C4G FoodMappers 2013</p>
	</div>
</div> <!-- container -->

{% endblock %}

{% block scripts %}
{% endblock %}